 {
    "trailingComma": "none",
    "semi": true,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "singleQuote": true,
    "useTabs": false, 
    "quoteProps": "consistent",
    "arrowParens": "avoid",
    "jsxBracketSameLine": false,
    "printWidth": 120
}