@include desktop {
  .navigation {
    height: 50px;
    .logo-rootstock {
      padding: 18px 0 12px 24px;
      img {
        width: 130px;
      }
    }
  }
  .content-form {
    margin-right: 20px;
    .title-form {
      font-size: 14px;
    }
  }
  .content-carousel {
    width: 410px;
    .rsk-card {
      width: 400px;
      height: 200px;
      .card-content {
        width: 180px;
      }
      .card-title {
        font-size: 25px;
      }
      .card-description {
        width: 160px;
        font-size: 15px;
      }
      .card-icon {
        margin-left: 15px;
      }
    }
  }
}

@include laptop {
  .content-form {
    margin-right: 20px;
  }
  .content-carousel {
    width: 450px;
    .rsk-card {
      width: 340px;
      height: 200px;
    }
  }
}

@include tablet {
  .title-faucet {
    font-size: 35px;
  }
  .content-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }
  .container-faucet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    margin: 40px auto;
    gap: 20px;
  }
  .content-carousel {
    width: 100%;
    margin-left: 0px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper {
    width: 100% !important;
    max-width: 400px !important;
  }
  .container {
    .content-message {
      margin: 30px auto 0px auto;
      width: 70%;
    }
  }
  footer {
    flex-direction: column;
    .links {
      margin: 25px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        display: block;
        margin: 10px 0;
      }
    }
    .icons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}
@include phone {
  .btn-large {
    width: 120px !important;
    &::before {
      width: 120px !important;
    }
  }
  .content-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }
  .rsk-card {
    width: 280px;
    height: 160px;
  }
  .container-faucet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px; 
    margin: 30px auto;
    gap: 15px;
  }
  .container {
    .content-message {
      padding: 0px 20px;
      width: 100%;
    }
  }
  .content-carousel {
    width: 100%;
    max-width: 450px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper {
    width: 100% !important;
    max-width: 450px !important;
  }
}
