$bg-color: #121212;
$bg1-color: #252525;
$bg2-color: #575757;

$title1: #00E482;
$title2: #9878F7;
$title3: #ff9100;

$error: #F44336;

$white1: #FBFBFB;
$white2: #B8B8B8;

// media queries
$phone: 600px;
$tablet: 990px;
$laptop: 1350px;
$desktop: 1500px;