#__next {
  width: 100vw;
  height: 100vh;
}

.background {
  background: url('./../images/leaves.jpg') !important;
  background-size: cover !important;
}

.app-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(7px + 2vmin);
  color: white;
  text-align: center;
  background: transparent;
}

.logo {
  content: url('./../images/rsk_logo.svg');
  height: fit-content;
  padding: 30px;
}

.navbar-rsk {
  height: 5%;
}

.faucet-button {
  border-radius: 70px;
}

.captcha-image {
  border-radius: 100px;
}

.faucet-container {
  width: 60% !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.background-modal {
  background: #79554857;
}

.faucet-input {
  margin-left: 20% !important;
  margin-right: 20% !important;
}

.faucet-input-captcha {
  margin-left: 25% !important;
  margin-right: 25% !important;
}
