/*features list */

.features-list,
.talk-list {
	margin-top: 60px;
}

.features-list .row {
	padding: 0;
}

.features-list li {
	list-style: none;
}

.feature-card {
	min-height: 185px;
	font-size: 21px;
	padding: 0;
	overflow: hidden;
	display: flex;
	height: auto;
	border-radius: 35px;
	-webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	transition: .1s ease all;
}

.feature-card:hover {
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.feature-card a p {
	font-weight: 300;
	font-size: 13px;
	margin-bottom: 0;
	line-height: 18px;
	padding-bottom: 10px;
	min-height: 46px;
	color: #000;
}

.feature-card a:hover {
	text-decoration: none;
}

.feature-card .content {
	padding: 45px 15px 0 15px;
	flex-wrap: wrap;
}

.feature-card .two-line-title-content {
	padding: 30px 15px 0 15px!important;
}

.feature-card .content-container {
	align-self: flex-end;
	width: 100%;
}

.feature-card .btn-container {
	align-self: flex-end;
}

.feature-card .btn-container a {
	padding: 5px 15px;
	font-size: 11px;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}

.feature-card .card-title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 10px;
	min-height: auto;
}

.icon-cont {
	width: 110px;
	height: 92px;
}

.feature-card .icon {
	display: flex;
	min-width: 115px;
}

.icon img {
	max-height: 90px;
	/*  margin: 20px;*/
}

.card-button {
	font-size: 11px;
	border-radius: 20px;
	color: #fff;
	border: none;
	padding: 0 14px;
}

.button-cont {
	text-align: center;
}

.green {
	background-color: #00b520;
}

.orange {
	background-color: #f26122;
}

.blue {
	background-color: #2c9dc3;
}