.rounded-rsk {
  border-radius: 30px !important;
}

.button-rsk {
  font-size: small !important;
  text-align: center !important;
  border: transparent !important;
}

@media (max-width: 768px) {
  .button-rsk {
    font-size: xx-small !important;
  }
}

.rsk-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 9px 5px !important;
}

.rsk-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
