.rsk-card {
  border: transparent !important;
}

.white-background-right-rounded {
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rounded-rsk-left {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.rsk-row {
  flex-wrap: nowrap !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (max-width: 768px) {
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
