
.container {
  height: max-content;
  height: 100%;
  .content-body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.content-form {
  .title-form {
    color: $white1;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 17px;
  }

  .faucet-form {
    position: relative;
    z-index: 0;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 390px;
    height: 300px;
    padding: 30px 24px;
    border-radius: 12px;
    background: $bg1-color;

    input {
     color: white;
     background-color: $bg1-color;
     height: 50px;
     border-radius: 8px;
     border: 1px solid $bg2-color;
     padding-left: 12px;
     outline: none;
     transition: transform 0.3s;
     &.error {
      border: 1px solid $error !important;
      animation: errorAnimation .6s ease;
     }
    }
    @keyframes errorAnimation {
      0% {
        transform: scale(1.0);
      }
      50% {
        transform: scale(1.03);
      }
      100% {
        transform: scale(1.0);
      }
    }
    input:focus-visible.error {
     border: 1px solid $error !important;
    }

    .btn-reload {
      width: 110px !important;
    }
    .btn-reload::before {
      width: 110px !important;
    }
    .captcha-content {
      display: flex;
      justify-content: center;
    }
    .re-captcha {
      &.error {
        border: 1px solid $error !important;
        animation: errorAnimation .6s ease;
      }
    }
  }
} 

.content-carousel {
  position: relative;
  width: 450px;
  .rsk-card {
    background-color: $bg1-color;
    width: 400px;
    height: 200px;
    border-radius: 12px;
    position: relative;
    z-index: 0;
    padding: 24px;
    display: flex;
    .card-content {
      width: 263px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid $white2;
    }
    .card-title {
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      color: $white1;
    }
    .card-description {
      width: 220px;
      margin-top: 8px;
      color: $white2;
    }
    .card-icon {
      flex: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 26px;
      img {
        width: 100px;
      }
    }
  }
}

footer {
  padding: 0 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  .copyright {
    div {
      font-size: 15px;
      color: white;
      img {
        margin-left: 7px;
      }
    }
    p {
      font-size: 10px;
      margin-top: 6px;
      color: $white2;
    }
  }

  .links {
    display: flex;
    align-items: center;
    a {
      font-size: 12px;
      color: white;
      text-decoration: none;
      margin: 0 20px;
      font-family: Arial, Helvetica, sans-serif;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    img {
      margin: 0 13px;
    }
  }
}
