

@include desktop {
  .navigation {
    height: 50px;
    .logo-rootstock {
      padding: 18px 0 12px 24px;
      img {
        width: 130px;
      }
    }
  }
  .title-faucet {
    margin-top: 5px;
    font-size: 30px;
  }
  .container-faucet {
    margin-top: 25px;
  }
  .faucet-captcha-image {
    height: 150px;
  }
  .content-form {
    .title-form {
      font-size: 14px;
    }
    .faucet-form {
      width: 400px;
      height: 370px;
      margin-right: 180px;
      padding: 12px 24px;
      input {
        height: 42px;
      }
    }
  }
  .content-btn {
    margin-top: 30px;
  }
  .content-carousel {
    margin-top: 140px;
    margin-bottom: 100px;
    width: 410px;
    .rsk-card {
      width: 400px;
      height: 200px;
      .card-content {
        width: 180px;
      }
      .card-title {
        font-size: 25px;
      }
      .card-description {
        width: 160px;
        font-size: 15px;
      }
      .card-icon {
        margin-left: 15px;
        img {
          width: 100px;
        }
      }
    }
  }

  footer {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

@include laptop {
  .faucet-captcha-image {
    height: 130px;
  }
  .content-form {
    .faucet-form {
      width: 380px;
      height: 340px;
      margin-right: 90px;
      input {
        height: 38px;
      }
    }
  }
  .content-carousel {
    margin-top: 140px;
    margin-bottom: 100px;
    width: 450px;
    .rsk-card {
      width: 340px;
      height: 200px;
      .card-content {
        width: 180px;
      }
      .card-title {
        font-size: 25px;
      }
      .card-description {
        width: 160px;
        font-size: 15px;
      }
      .card-icon {
        margin-left: 15px;
        img {
          width: 100px;
        }
      }
    }
  }
  footer {
    padding: 0 30px;
  }
}

@include tablet {
  .title-faucet {
    margin-top: 25px;
  }
  .content-form {
    width: 500px;
    margin: 0 auto;
  }
  .container-faucet {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .faucet-form {
      width: 500px;
      height: 430px;
      margin-right: unset;
    }
  }

  .faucet-captcha-image {
    height: 210px;
  }

  .content-carousel {
    margin-top: 200px;
    margin-bottom: 150px;
    width: 100%;
    .rsk-card {
      width: 340px;
      height: 210px;
      .card-content {
        width: 180px;
      }
      .card-title {
        font-size: 25px;
      }
      .card-description {
        width: 160px;
        font-size: 15px;
      }
      .card-icon {
        margin-left: 15px;
        img {
          width: 100px;
        }
      }
    }
  }
  footer {
    padding-bottom: 40px;
    flex-direction: column;
    .links {
      margin: 25px 0;
      display: flex;
      flex-direction: column;
      a {
        display: block;
        margin: 10px 0;
      }
    }
    .icons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}
@include phone {
  .btn-large {
    width: 120px !important;
    &::before {
      width: 120px !important;
    }
  }
  .content-form {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
  }
  .container-faucet {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .faucet-form {
      width: 380px;
      margin-right: unset;
    }
  }

  .content-carousel {
    display: none;
    margin-top: 200px;
    margin-bottom: 150px;
    width: 100%;
    .rsk-card {
      width: 310px;
      height: 200px;
      .card-content {
        width: 180px;
      }
      .card-title {
        font-size: 25px;
      }
      .card-description {
        width: 160px;
        font-size: 15px;
      }
      .card-icon {
        margin-left: 15px;
        img {
          width: 100px;
        }
      }
    }
  }
}
